@font-face {
  font-family: "DS-Digital";
  src: url("./font/DS-Digital.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@media only screen and (max-width: 600px) {
  .App {
    display: block;
  }
  .Stairs {
    border-bottom: 2px solid #002c8b;
  }
}

@media only screen and (min-width: 601px) {
  .App-body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px;
  }
  .Stairs {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .Running {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
}

body {
  background-color: #001542;
  font-family: "Alata" sans-serif;
  overflow: visible;
  font-size: 1.25rem;
  color: #b8d7ff;
}

.App-nav {
  background-color: #b8d7ff;
  padding: 20px;
}
.App-body {
  text-align: left;
  margin: 20px;
}

.Stairs,
.Running {
  max-width: 350px;
  padding: 40px 20px;
}

h4 {
  padding-top: 8px;
}

a {
  background-color: #b8d7ff;
  color: #001542;
  text-decoration: none;
  padding: 8px;
  text-transform: uppercase;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  font-family: "Alata", sans-serif;
  font-weight: bold;
  padding: 8px 15px;
  width: 50%;
  border-right: 2px solid #001542;
}

button,
a {
  background-color: #b8d7ff;
  color: #001542;
}

button:hover {
  background: linear-gradient(#002c8b, #00226d);
  color: #b8d7ff;
  cursor: pointer;
}

.buttons-div {
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.display-run,
.display-stairs {
  background-color: #b8d7ff;
  color: #001542;
  line-height: 0.5rem;
  padding: 1px;
  max-height: 220px;
  overflow-y: auto;
  font-family: "DS-Digital";
}

.display-run {
  display: flex;
  flex-wrap: wrap;
}

.display-stairs {
  display: block;
  line-height: 1rem;
}

.message {
  background-color: #b8d7ff;
  color: #002c8b;
  font-family: "DS-Digital";
  text-align: center;
}

.flight-num {
  font-size: 1rem;
  background-color: #001542;
  color: #b8d7ff;
  padding: 5px 8px;
  width: 15%;
  margin: 2px;
}
